.grid-container {
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#grid {
  border:2px #000; 
}

.square {
  width:200px;
  height: 200px;
  text-align: center;
}.symbol-element {
  margin: 0 auto;
  text-align: left;
}

.top {
  border-bottom: solid #000;
}

.middle {
  border-top: solid #000;
  border-bottom: solid #000;
}

.bottom {
  border-top: solid #000;
}

.right {
  border-right: solid #000;
}

.center {
  border-left: solid #000;
  border-right: solid #000;
}

.left {
  border-left: solid #000;
}